[project]
name = "the-evolution-of-todo"
version = "0.1.0"
description = "Phase I: In-memory Python Todo Application"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[tool.uv]
package = false

[tool.uv.workspace]
members = [
    "backend",
]
